@use "variables" as v;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: v.$primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
  background-color: #e8505d;
  border-radius: 6px;
}
