.layouts {
  margin-top: 50px;
}

.ant-layout-sider-children {
  background-color: white;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: #e8505d36 !important;
  color: black !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: black !important;
}
